{% extends 'application/dashboard_main.html' %}

{% block style %}
<style type="text/css">
  .new_color {
     background-color: #97bdde !important;
  }
  .accepted_color{
     background-color: #b0e0b0 !important;
  }
  .rejected_color{
    background-color: #ef9895 !important;
  }
  .users_list{
    cursor: pointer;
  }
</style>
{% endblock %}
{% block content %}
        <h1 class="page-header">Dashboard</h1>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-4">
        <a href="/users/new" class="users_list">
          <div class="well">
            <h4 class="text-primary"><span class="label label-primary pull-right">{{ count.new }}</span> New Users </h4>
          </div>
        </a>
      </div>
      <a href="/users/accepted" class="users_list">
      <div class="col-md-4">
        <div class="well">
          <h4 class="text-success"><span class="label label-success pull-right">{{ count.accepted }}</span> Accepted </h4>
        </div>
      </div>
      </a>
      <a href="/users/rejected" class="users_list">
      <div class="col-md-4">
        <div class="well">
          <h4 class="text-danger"><span class="label label-danger  pull-right">{{ count.rejected }}</span> Rejected </h4>
        </div>
      </div>
      </a>
    </div><!--/row-->    
  </div><!--/col-12-->
</div><!--/row-->

<h2> Users List</h2>
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>position</th>
                  <th>Years of Experience</th>
                  <!-- <th>action</th> -->
                </tr>
              </thead>
              <tbody>
              {% for user in users %}
                <tr class="{{user.app_status}}_color">
                  <td>{{user.id}}</td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.position}}</td>
                  <td>{{user.year_of_exp}} {{user.created_on}}</td>
                  <!-- <td><button>View</button> -->
                </tr>
                {% endfor %}
                {% if users|length == 0 %}
                <tr>
                <td colspan="6">No data found</td>
                </tr>
                {% endif %}
                
              </tbody>
            </table>
          </div>

{% endblock %}